/Start/nbproject/private/
/Start/build/
/Start/dist/
/fedejava/nbproject/private/
/fedejava/build/
/conecciondatabase/nbproject/private/
/ejerciciosManejoFoco/nbproject/private/
/ejerciciosManejoFoco/build/
/ejerciciosManejoFoco/dist/
